@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  --txt-color: #fff;
  --txt-color-blk: #000;
  --txt-color-gry: #2d2d2d;
  --light-grey: #9eafab;
  --hero-section-color: rgb(0, 0, 0, 0.3);
  --button-color: rgb(0, 135, 255);
  --star-color: orange;
  --features-bg-color: #dae8f3;
  --what-we-do-bg-color: #f3f5f8;
  --iphone-bg-color: #f2f2f2;
  --green-dot-color: #33b73e;
  --red-dot-color: #ff4130;
  --shadow: rgba(0, 0, 0, 0.04);
  --lastFooter-bg: rgba(3, 59, 163);
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  overflow-x: none ;
  box-sizing: border-box;
  text-decoration: none;
  scroll-padding-top: 6rem;
  scroll-behaviour: smooth;
  font-family: "Poppins", sans-serif;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(https://www.truecaller.com/cms/93591a2714917a73fed51ff5cd043950.avif)
    no-repeat;
  background-position: center;
  background-size: cover;
  height: 94vh;
  /* font-size: 1rem; */
  line-height: 1.75rem;
}

.backdrop-color {
  background: var(--hero-section-color);
  /* padding: 200px 700px; */
  width: 100vw;
  height: 94vh;
  overflow: hidden;
  margin: 0 auto;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 2%;
  background: transparent;
}

header div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--txt-color);
  gap: 1.75rem;
}

header div:nth-child(1) p {
  font-size: 1.85rem;
}

header div:nth-child(1) ul {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--txt-color);
  list-style: none;
  gap: 1.4rem;
}

header div:nth-child(1) ul li a {
  color: var(--txt-color);
  font-size: 0.85rem;
  font-weight: 700;
  cursor: pointer;
}

header div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--txt-color);
  gap: 1.2rem;
}

header div:nth-child(2) select {
  background: transparent;
  border: none;
  width: 70px;
  color: var(--txt-color);
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
}

header div:nth-child(2) select option {
  color: var(--txt-color-blk);
}

header div:nth-child(2) span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--txt-color);
  font-weight: 700;
  gap: 0.3rem;
  cursor: pointer;
}

header div:nth-child(2) button {
  background-color: var(--button-color);
  border: none;
  padding: 20px 32px;
  border-radius: 30px;
  cursor: pointer;
}

/* header div:nth-child(2) button:hover {
  
} */

header div:nth-child(2) button a {
  color: var(--txt-color);
}

/* main */

main {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  min-height: 90vh;
  max-width: 600px;
  margin: 3rem 0 0 4rem;
  gap: 2.5rem;
}

main h1 {
  font-weight: 700;
  line-height: 3.75rem;
  color: var(--txt-color);
  margin: 0;
}

main #scnd-base {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1rem;
}

main #scnd-base #dwnload-tc {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--txt-color);
  background-color: var(--button-color);
  border: none;
  padding: 16px 43px;
  border-radius: 9999px;
  font-size: 0.825rem;
  font-weight: 700;
  cursor: pointer;
}

main #scnd-base #dwnload-tc img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

main #scnd-base .btnLike-content-parent-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

main #scnd-base .btnLike-content-parent-div .btnLike-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--txt-color);
  padding: 8px 20px;
  gap: 0.2rem;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
}

main #scnd-base .btnLike-content-parent-div .btnLike-content div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 1.2rem;
}

main #scnd-base .btnLike-content-parent-div .btnLike-content div p {
  color: var(--txt-color-gry);
  font-size: 0.875rem;
  font-weight: 900;
}

main #scnd-base .btnLike-content-parent-div .btnLike-content div span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.05rem;
  cursor: pointer;
}

main #scnd-base .btnLike-content-parent-div .btnLike-content div span p {
  font-size: 0.625;
  font-weight: 500;
}

main #scnd-base .btnLike-content-parent-div .btnLike-content div span .fa-star {
  font-size: 0.5rem;
  /* font-weight: 500; */
  color: var(--star-color);
}

main #input {
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: var(--txt-color);
  border: none;
  border-radius: 9999px;
  max-width: 550px;
  height: 90px;
}

main #input select {
  border: none;
  background: transparent;
  width: 80px;
  margin-left: 1.5rem;
  color: var(--button-color);
  font-weight: 700;
  cursor: pointer;
}

main #input input {
  border: none;
  background: transparent;
  padding: 8px 12px;
  width: 365px;
  font-size: 1rem;
  outline: none;
}

main #input input ::placeholder {
  color: var(--txt-color-gry);
}

main #input #search-bar {
  cursor: not-allowed;
  background-color: var(--button-color);
  border: none;
  border-radius: 50%;
  color: var(--txt-color);
  padding: 23px;
}

main #input #search-bar .fa-magnifying-glass {
  font-size: 1.5rem;
}

/* hero-section-bottom */
.hero-section-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  overflow-x: auto;
  background-color: var(--txt-color);
  padding: 3rem;
}

.hero-section-bottom .pic-one {
  width: 257px;
  height: 40px;
}

.hero-section-bottom .pic-two {
  width: 221px;
  height: 40px;
}

.hero-section-bottom .pic-three {
  width: 55px;
  height: 40px;
}

.hero-section-bottom .pic-four {
  width: 52.25px;
  height: 40px;
}

.hero-section-bottom .pic-five {
  width: 264px;
  height: 40px;
}

/* about */
.about {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 4rem 2.5rem;
  flex-direction: column;
  gap: 2.75rem;
  background-color: var(--what-we-do-bg-color);
}

.about h3 {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1.125;
}

.about .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.about .box-container .box {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: 1rem;
}

.about .box-container .box img {
  border-radius: 50%;
  height: 190px;
  width: 190px;
  color: var(--txt-color-gry);
}

.about .box-container .box p {
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin-top: 1rem;
  color: var(--txt-color-gry);
}

.about .box-container .box span {
  font-weight: 700;
  font-size: 1rem;
}

/* features */
.features {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  background-color: var(--features-bg-color);
  padding: 64px 0;
}

.features .text-box {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 690px;
}

.features .text-box #head-text {
  font-size: 1.25rem;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--button-color);
}

.features .text-box h3 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1;
  letter-spacing: -0.67px;
  color: var(--txt-color-gry);
}

.features .text-box #dot {
  color: var(--button-color);
}

.features .text-box #details-text {
  color: var(--txt-color-gry);
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}

.features .image-box img {
  width: 270px;
  height: 575.92px;
  object-fit: cover;
  vertical-align: middle;
}

.features .text-box .box-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin: 1rem 0 1.5rem;
}

.features .text-box .box-container .box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.2rem;
  padding: 1rem;
  width: 420px;
}

.features .text-box .box-container .box .text #top {
  font-size: 1rem;
  font-weight: 700;
  color: var(--txt-color-gry);
}

.features .text-box .box-container .box .text p {
  font-size: 0.75rem;
  color: var(--txt-color-gry);
}

.features .text-box .lastParagraph {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
  color: var(--button-color);
  font-size: 0.875rem;
  line-height: 1.5rem;
}

/* trending */
.trending {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: row-reverse; */
  background-color: var(--txt-color);
  min-height: 40vh;
  max-height: 560px;
}

.trending img {
  width: 660px;
  height: auto;
  overflow-clip-margin: content-box;
  overflow: clip;
  display: block;
}

.trending .text-box {
  display: flex;
  flex: 1 1 0%;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  padding: 3rem;
}

.trending .text-box #head-text {
  font-size: 1.25rem;
  font-weight: 900;
  margin-bottom: 0.825rem;
  text-transform: uppercase;
  color: var(--button-color);
}

.trending .text-box h3 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1;
  letter-spacing: -0.67px;
  color: var(--txt-color-gry);
}

.trending .text-box #dot {
  color: var(--button-color);
}

.trending .text-box #details-text {
  color: var(--txt-color-gry);
  font-size: 1rem;
  line-height: 1.8;
}

.trending .text-box .btn {
  color: var(--button-color);
  background-color: var(--txt-color);
  border: 2px solid var(--button-color);
  font-size: 0.75rem;
  border-radius: 9999px;
  padding: 1.25rem 2rem;
  font-weight: 700;
  display: inline-block;
  line-height: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

/* iphone */

.iphone {
  background-color: var(--iphone-bg-color);
}

/* impact */

.impact img {
  height: 549px;
}

/* articles */
.articles {
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--features-bg-color);
}

.articles .content {
  max-width: 57rem;
}

.articles h3 {
  text-align: left;
  font-size: 2.5rem;
  color: var(--txt-color-gry);
}

.articles .box-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1.25rem;
  padding: 2.5rem 0;
}

.articles .box-container .box {
  display: block;
  background-color: var(--txt-color);
  border-radius: 2rem;
  box-shadow: 1px 1px 10px var(--shadow);
}

.articles .box-container .box img {
  width: 290px;
  height: 136px;
  object-fit: cover;
}

.articles .box-container .box .top-text {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.75rem;
  padding: 1.25rem 1.125rem;
}

.articles .box-container .box .top-text .dot {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: var(--green-dot-color);
}

.articles .box-container .box .top-text .dot.red {
  background-color: var(--red-dot-color);
}

.articles .box-container .box .top-text p {
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--txt-color-gry);
}

.articles .box-container .box .text-box {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  padding: 1.5rem;
  height: 9.5rem;
}

.articles .box-container .box .text-box h4 {
  font-size: 1.25rem;
  font-weight: 900;
  line-height: 1.125;
  margin-bottom: 1rem;
  color: var(--txt-color-gry);
}

.articles .box-container .box .text-box span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--light-grey);
  font-size: 0.75rem;
  line-height: 1.125;
  font-weight: 600;
}

.articles .box-container .box .text-box span p:nth-child(2) {
  margin-bottom: 0.5rem;
}

/* download */

.download {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.5rem 3rem 0;
  gap: 2rem;
  background-color: var(--iphone-bg-color);
}

.download img {
  width: 480px;
  height: 479px;
  overflow-clip-margin: content-box;
  overflow: clip;
  display: block;
}

.download .text-box {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  padding: 3rem 0;
}

.download .text-box #details-text {
  max-width: 640px;
}

.download .text-box #scnd-base {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  flex: 1 1 0%;
  margin: 1rem 0 0;
}

.download .text-box #scnd-base #dwnload-tc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  gap: 0.5rem;
  color: var(--txt-color);
  background-color: var(--button-color);
  border: none;
  padding: 0.75rem 3rem;
  line-height: 1.25;
  border-radius: 9999px;
  font-size: 0.825rem;
  font-weight: 600;
  cursor: pointer;
}

.download .text-box #scnd-base #dwnload-tc img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.download .text-box #scnd-base .btnLike-content-parent-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.download .text-box #scnd-base .btnLike-content-parent-div .btnLike-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--txt-color);
  padding: 8px 3rem;
  gap: 0.5rem;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 9999px;
  cursor: pointer;
}

.download
  .text-box
  #scnd-base
  .btnLike-content-parent-div
  .btnLike-content
  div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 1.2rem;
}

.download
  .text-box
  #scnd-base
  .btnLike-content-parent-div
  .btnLike-content
  div
  p {
  color: var(--txt-color-gry);
  font-size: 0.875rem;
  font-weight: 900;
}

.download
  .text-box
  #scnd-base
  .btnLike-content-parent-div
  .btnLike-content
  div
  span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.05rem;
}

.download
  .text-box
  #scnd-base
  .btnLike-content-parent-div
  .btnLike-content
  div
  span
  p {
  font-size: 0.625;
  font-weight: 500;
}

.download
  .text-box
  #scnd-base
  .btnLike-content-parent-div
  .btnLike-content
  img {
  width: 25px;
  height: 28px;
  object-fit: contain;
}

/* .download .text-box .btn{
  
} */

/* footer */

footer {
  background-color: rgba(11, 73, 180);
}

footer .content {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 1.25rem;
  padding: 5rem 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

footer .content .buttonContainer {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}

footer .content .buttonContainer .lstButton {
  background-color: var(--txt-color);
  border-radius: 4px;
  padding: 0.75rem 1.25rem;
  cursor: pointer;
  text-align: left;
  color: var(--txt-color-gry);
}

footer .content .buttonContainer .lstButton span p {
  font-weight: 800;
}

footer .content .buttonContainer .btnLike-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--txt-color);
  padding: 8px 20px;
  gap: 0.2rem;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
}

footer .content .buttonContainer .btnLike-content .btnLike-content div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 1.2rem;
}

footer .content .buttonContainer .btnLike-content .btnLike-content div p {
  color: var(--txt-color-gry);
  font-size: 0.875rem;
  font-weight: 900;
}

footer .content .buttonContainer .btnLike-content .btnLike-content div span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.05rem;
  cursor: pointer;
}

footer .content .buttonContainer .btnLike-content .btnLike-content div span p {
  font-size: 0.625;
  font-weight: 500;
}

footer
  .content
  .buttonContainer
  .btnLike-content
  .btnLike-content
  div
  span
  .fa-star {
  font-size: 0.5rem;
  /* font-weight: 500; */
  color: var(--star-color);
}

footer .content .aaa {
  display: grid;
  grid-column: span 4 / span 4;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

footer .content .text-box .xxx {
  /* display: flex;
  gap: 1.25rem;
  flex-direction: row; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem;
  color: var(--txt-color);
}

footer .content .text-box .xxx .innerTextBox {
  display: block;
}

footer .content .text-box {
  color: var(--txt-color);
}

footer .content .text-box h3 {
  font-weight: 400;
  cursor: default;
  margin-bottom: 2rem;
  word-spacing: 0.1rem;
  font-size: 1.5rem;
  line-height: 1.125;
  letter-spacing: -0.1px;
}

footer .content .text-box p {
  margin-top: 1rem;
  font-size: 0.85rem;
  cursor: pointer;
}

footer .content .text-box p a {
  color: var(--txt-color);
}

footer .content .text-box span {
  background-color: var(--txt-color);
  font-size: 0.65rem;
  color: var(--button-color);
  padding: 0.2rem;
  cursor: pointer;
  border-radius: 3px;
}

/* last footer */
.lastFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--lastFooter-bg);
  color: var(--txt-color);
  font-size: 0.75rem;
  padding: 0.5rem 0;
  line-height: 1.125;
}

.lastFooter div #tc {
  font-weight: 700;
}

.lastFooter div p {
  cursor: pointer;
}

.lastFooter div p span::before {
  content: "|";
  font-size: 1rem;
  font-weight: 200;
  color: var(--txt-color);
}

.lastFooter .images {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.lastFooter .images img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
